.ExperienceSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  width: 100%;
  .experience-info1 {
    text-align: left;
    h3 {
      color: #8e1f67;
    }
    ul {
      margin-left: 1.5rem;
    }
  }
  .experience-info2 {
    text-align: right;
  }
  // @media screen and (max-width: 1400px) {
  //   // flex-direction: column;
  // }
}
